/* line 2, ../sass/header.scss */
header h1 {
  margin-top: 0;
}

/* line 1, ../sass/index.scss */
.general-container {
  display: flex;
  flex-flow: column;
  place-content: center;
  align-items: center;
  height: 100vh;
}
/* line 7, ../sass/index.scss */
.general-container .switch-container {
  background: rgba(21, 5, 25, 0.3);
  padding: 20px;
  text-align: center;
}
/* line 12, ../sass/index.scss */
.general-container .button-container {
  display: flex;
  place-content: center;
}
/* line 15, ../sass/index.scss */
.general-container .button-container .custom-button {
  font-size: 16px;
  margin: 0 10px;
}

/* line 1, ../sass/suma.scss */
.operation {
  display: flex;
  flex-flow: row;
  place-content: center;
  align-items: center;
}
/* line 6, ../sass/suma.scss */
.operation input {
  margin-left: 10px;
  width: 40px;
  text-align: center;
}

/* line 12, ../sass/suma.scss */
.result-image {
  width: 30px;
  height: 40px;
}

/* line 17, ../sass/suma.scss */
.finish-container button {
  margin: 0 10px;
  place-content: center;
}
